body {
	margin: 1em auto;
	padding: 0 1ex;
	max-width: 120ex;
	min-width: 60ex;;
	background-color: lightgrey;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
article img:first-child {
	position:initial;
		display: block;
		text-align: center;
		margin: 0 auto;
}

article pre {
	background-color: black;
	color: white;
	padding: 7px 10px;
	white-space: pre-line;
}

article {
  /* // fixes webkit rendering bug for some: see #538 */
  -webkit-transform: translateZ(0);
  /* // to place content above the dark box */
  position: relative;
  z-index: 30;
}

article h1 {
	padding-top: 1em;
	font-size: 3em;
}
article h1 a {
	color: darkslategrey;
	text-decoration: none;
}

footer {
	margin-top: 1em;
	border-top: 1px solid darkgrey;
	text-align: right;
	font-size: 75%;
}

article:after {
	content: '';
	display: block;
	clear: both;
}

.example { 
	display: block;
	margin: 5px auto;
	border: 2px solid turquoise;
	padding: 3px;
}
.example[src$="scale=1"]:active,
.example[src$="scale=1"]:hover,
.example[src$="scale=1"]:focus {
	zoom: 8;
}

@media (max-width: 400px) {
	body {
		font-size: 80%;
	}
}
@media (min-width: 90ex) {
	article > p:first-of-type {
		/* position: fixed; */
		float: right;
		margin: -6em 0 0 0 ;
	}
	article>h1, article>h2, article>h3, article>h4, article>h5, article>h6, article>p, article>table, article>ul, article>ol, article>aside, article>dl {
		margin-right: 50%;
		box-sizing: border-box;
		display: block;
		padding-right: 1ex;
	}

	article>ul, article>ol {
		padding-left: 25px;
	}

	article>h1, article>h2, article>h3 {
		clear:both;
	}

	article pre,
	article blockquote {
		box-sizing: border-box;
		width: 50%;
		float:right;
		clear: right;
		margin-top: 0em;
	}

	.example { 
		display: inline;
		margin: 2px;
		vertical-align: top;
	}

}